.account-item {
    display: block;
    color: black;
    padding: 5px 20px;
    text-align: left;
    text-decoration: none;
}

.close-btn-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 10px;
    line-height: 60px;
}


.close-menu-button {
    font-size: 50px;
    float: right;
}

.menu-linebreak {
    width: 90%;
    border-bottom: 1px solid #6f3333;
    margin: 10px auto;
}
